version: '3.8'

services:
  # Python Backend
  backend:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "5000:5000"
    env_file: .env
    environment:
      - FLASK_ENV=development
      - MONGO_URI=${MONGO_URI}

  # React Frontend
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
    ports:
      - "3000:80"
    depends_on:
      - backend
