{% extends "base.html" %}
{% block title %}Mark Attendance - BunkGuard{% endblock %}

{% block content %}
<div class="page-header">
    <div class="header-text">
        <h1>Mark Today's Attendance</h1>
        <p>Your schedule for {{ now.strftime('%A, %B %d, %Y') }}.</p>
    </div>
    </div>

<div class="attendance-list-container" id="attendanceList">
</div>
<div id="substitutionModal" class="modal-overlay hidden">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Which class was taken instead?</h2>
            <button id="closeSubstitutionModalBtn" class="close-btn">&times;</button>
        </div>
        <div id="substitutionSubjectList" class="subject-grid">
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="{{ url_for('static', filename='mark_attendance.js') }}"></script>
{% endblock %}